@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playfair+Display&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  /* font-family: 'Playfair Display', serif; - Just hard to read */
  scroll-behavior: smooth;

  margin: 0px;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

.list-group-item {
  background-color: rgb(82, 82, 82);
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

ul > li:nth-child(even) {
  background-color: #fff;
  color: rgb(0, 0, 0);
}
