/* .container-Login {
  width: 300px;
  border: 1px solid red;
  padding: 5px;
  background-color: #913a54;
  border-radius: 15px;
}

.container-Login {
  box-shadow: 10px;
} */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Playfair+Display&display=swap');
/* How to use: */
/* font-family: 'Aldrich', sans-serif;
font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  font-family: 'Aldrich', sans-serif !important;
  font-family: 'Playfair Display', serif;
  color: black;
}
/*Root*/
:root {
  --primary-color: #4094a1;
  --dark-color: #12202e;
  --light-color: #f4f4f4;
  --danger-colour: #d30d20;
  --success-color: #2aaa50;
  --disabled-color: #c8c0c0;
  --shadow: 0 5px 14px rgba(0, 0, 0, 0.9);
}

#login {
  color: #ffffff;
  padding: 5px;
  background-color: rgb(160, 145, 156);
  width: 280px;
  margin: 0 auto;
  position: relative;
  border: #ffffff 2px solid;
  border-radius: 15px;
  box-shadow: var(--shadow);
}

h1 {
  text-align: center;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
  color: var(--shadow);
}

h1:hover {
  box-shadow: var(--shadow);
}
h2 {
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color);
}

div {
  padding: 5px;
}

.login,
label {
  color: var(--light-color);
}

[value='Log In'] {
  padding: 5px;
  font-family: 'Aldrich', sans-serif !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-color);
  /* box-shadow: var(--shadow); */
}

input[type='submit'] {
  padding: 10px auto;
  background: var(--danger-colour);
  border-radius: 5px;
  margin: 10px auto;
}

.btn:hover {
  box-shadow: var(--shadow);
  background-color: var(--success-color);
}
[value='Log In']:hover {
  color: var(--light-color) !important;
}

.btn {
  display: flex;
}

#email:hover,
#password:hover {
  background-color: var(--dark-color);
}

input:focus {
  background: var(--dark-color);
  color: var(--light-color) !important;
}

input:enabled {
  color: var(--success-color) !important;
}

input:disabled {
  background-color: var(--disabled-color) !important;
}
