@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  font-size: 10px;
  font-family: Arial;
  color: rgb(246, 230, 230, 0.9);
  background: black;
  font-weight: 101;
  font-family: 'Aldrich', sans-serif;
}

/* font family */
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  color: skyblue;
  border: 1px red solid;
  background-color: rgba(55, 55, 223, 0.4);
}
button {
  background-color: aqua;
}

h2 {
  font-size: 2em;
  text-align: left;
  color: rgba(92, 218, 145, 0.663);
}
h3 {
  font-size: 1.5em;
}

li {
  line-height: 1.5em;
}
a {
  text-decoration: none;
}
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.container-license {
  margin-top: 10px;
  padding: 9px 30px;
  border-left: 5px solid red;
}

.date {
  color: #1ee01e;
}
/* h1 {
  color: red;
}

h2 {
  color: green;
}
#EndUserLicenseAgreement {
  background: yellow;
}
.container-license {
  background: yellow;
}

[href='/index.html'] {
  color: aliceblue;
} */
