@import '_config.css';

h1 {
  color: var(--color-prime);
  font-size: var(--mf);
  box-shadow: var(--shadow);
}

h2 {
  color: var(--color-sec);
  font-size: var(--sf);
}

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 200px 400px;
  gap: 1rem;
}

.container > div {
  box-shadow: var(--shadow);
}

.container > div:nth-child(odd) {
  color: var(--color-sec);
  background-color: var(--bgd);
}

.nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nested div {
  background-color: var(--bgd);
  color: var(--color-sec);
  border: 1px solid red;
  text-align: center;
  box-shadow: var(--shadow);
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
/* @media (max-width: 400px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .nested {
    grid-template-columns: repeat(2, 1fr);
  }

  .nested div {
    background-color: var(--bgl);
    color: var(--color-prime);
  }
} */

/* @keyframes */
.nested div {
  animation: grandma 2s ease-in-out 0s infinite;
  animation: grandma 2s ease-in-out 0s;
}
/* @keyframes grandma {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
} */
@media (max-width: 400px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .nested {
    grid-template-columns: repeat(2, 1fr);
  }

  .nested div {
    background-color: var(--bgl);
    color: var(--color-prime);
  }
  /* @keyframes grandma {
    from {
      height: 0%;
    }
    to {
      height: 100%;
    }
  } */
  @keyframes grandma {
    from {
      /* transform: translateX(-100%);
      transform: translateY(-100%); */
      color: rgba(255, 255, 255, 0);
    }
    to {
      transform: translateX(0%);
      color: rgba(255, 255, 255, 0);
    }
  }
}
