@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playfair+Display&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;

  margin: 0px;
  padding: 0;
}

:root {
  --primary-dark: #111;
  --secondary-dark: #333;
  --primary-light: #efefef;
  --secondary-light: #ffff;
  --shadow: 0 0 10px 10px rgba(22, 22, 22, 0.9);
}

#contact h2,
#about h2,
#portfolio h2 {
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
}

.main-menu {
  background-color: var(--secondary-dark);
  padding: 1rem;
  box-shadow: var(--shadow);
}

menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-light);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
}

menu ul {
  list-style: none;
  padding: 0.5rem;
}

menu li {
  border: 1px solid;
  box-shadow: var(--shadow);
  padding: 0.5rem;
}

menu .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

menu .right {
  margin-left: auto;
}

menu {
  position: fixed;
  width: 100%;
}
/* ------Header + Content-------- */

header {
  background-color: rgba(3, 3, 3, 0.7);
  color: var(--primary-light);
  height: 100vh;
  box-shadow: inset 0 0 500px rgb(5, 5, 5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  margin: 3rem;
  padding: 2rem;
  box-shadow: var(--shadow);
  border-radius: 15px;
}

/* Portfolio */

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio-content img {
  height: 25vh;
  padding: 0.5rem;
}

/* Remember, we use # for referencing specific IDs */
#portfolio h2 {
  text-align: center;
  padding: 3rem;
  font-size: 2.5rem;
}

#about {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}

.about-content {
  display: flex;
  padding: 1rem;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--shadow);
}

.history-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: var(--shadow);
}

.disclaimer-content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: var(--shadow);
}

#about h3,
#about p {
  width: 50%;
  padding: 0.5rem;
}

#about h3 {
  text-align: center;
  font-size: 1.5rem;
}

#about p {
  text-align: justify;
}

/* Good idea, using span for specific important texts, then styling the spans. Just upgraded the page to make it look 20% more elegant */
.about span {
  font-style: italic;
  font-weight: 100;
}

/* Contact */

form {
  width: 300px;
  display: flex;
  flex-flow: column;
}
#contact h3 {
  font-size: 1.5rem;
}

::placeholder {
  background-color: #333;
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.contact-us {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
  padding: 1rem;
  margin: 0.5rem;
  font-weight: 500;
  text-align: center;
}

#contact-us {
  padding: 2rem;
}

#contact label,
#contact input,
#contact h3 {
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
