/* .container-Login {
  width: 300px;
  border: 1px solid red;
  padding: 5px;
  background-color: #913a54;
  border-radius: 15px;
}

.container-Login {
  box-shadow: 10px;
} */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Playfair+Display&display=swap');
/* How to use: */
/* font-family: 'Aldrich', sans-serif;
font-family: 'Playfair Display', serif; */

* {
  margin: 0;
  font-family: 'Aldrich', sans-serif !important;
  font-family: 'Playfair Display', serif;
  color: black !important;
}

#login {
  color: #ffffff;
  padding: 5px;
  background-color: rgb(107, 20, 91);
  width: 280px;
  margin: 0 auto;
  position: relative;
  border: #ffffff 2px solid;
  border-radius: 15px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.login,
label {
  color: red;
}
